.tile {
	display: inline;
	float: left;
	/*border: 1px solid lightGray;*/
}

.tile-small-x {
	min-width: 70px;
	width: 70px;
}

.tile-square-x {
	min-width: 140px;
	width: 140px;
}

.tile-wide-x {
	min-width: 280px;
	width: 280px;
}

.tile-big-x {
	min-width: 420px;
	width: 420px;
}

.tile-super-x {
	min-width: 560px;
	width: 560px;
}

.tile-half-y {
	min-height: 35px;
	height: 35px;
}

.tile-small-y {
	min-height: 70px;
	height: 70px;
}

.tile-square-y {
	min-height: 140px;
	height: 140px;
}

.tile-wide-y {
	min-height: 280px;
	height: 280px;
}

.tile-big-y {
	min-height: 420px;
	height: 420px;
}

.tile-super-y {
	min-height: 560px;
	height: 560px;
}

.tile-small {
	min-height: 70px;
	min-width: 70px;
	height: 70px;
	width: 70px;
}

.tile-square {
	min-height: 140px;
	min-width: 140px;
	height: 140px;
	width: 140px;
}

.tile-wide {
	min-height: 280px;
	min-width: 280px;
	height: 280px;
	width: 280px;
}

.tile-big {
	min-height: 420px;
	min-width: 420px;
	height: 420px;
	width: 420px;
}

.tile-super {
	min-height: 560px;
	min-width: 560px;
	height: 560px;
	width: 560px;
}

.padding10 {
	padding: 10px;
}

.tile-icon {
	padding: 5px 5px 10px 5px;
	font-size: 64px;
}

.tile-icon-small {
	padding: 5px 5px 5px 5px;
	font-size: 32px;
}

.tile-title {
	display: inline-block;
	margin: 0px;
	margin-left: 0px;
	padding-top: 8px;
	padding-left: 10px;
	font-size: 16px;
	font-weight: bolder;
	font-size: 16px;
}

.tile-inner-title {
	font-size: 18px;
	font-weight: 500;
	margin-bottom: 0px;
}

.tile-inner-title-background {
	font-size: 18px;
	font-weight: 500;
	margin-bottom: 0px;
	padding: 5px 5px 0px 5px;
	background-color: black;
	opacity: 0.5;
	float: left;
	min-width: 100%;
}

.tile-inner-title p {
	margin-bottom: 0px;
	position: absolute;
	margin-left: 5px;
}

.google-visualization-table-th {
	text-align: center;
}

a, a:visited, a:hover, a:active {
	color: inherit;
	text-decoration: none;
}

/*
.google-visualization-table-td {		
	font-size: 10px;
}



.google-visualization-table .gradient{
	background-image: none !important;	
} */