<div class="container chart-filter">
	<div class="row">
		<div class="col-xs-12 iras">
			<page-header title="IRAS" subtitle="Chart Filter"></page-header>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<div class="btn-toolbar" role="toolbar" aria-label="Chart toolbar">
				<div class="btn-group btn-group-lg" role="group" aria-label="Chart group">
					<button type="button" class="btn btn-default" aria-label="View Chart" data-ng-click="chartModeClicked()">
						<span class="mif-chart-line"></span>
					</button>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<hr />
		</div>
	</div>

	<!-- <span class="mif-folder-plus">&nbsp;</span> -->
	<!-- <span class="mif-chart-line"></span> -->
	<div class="row">
		<div class="col-xs-6 categories">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Categories</h3>
				</div>
				<div class="panel-body">
					<div class="form-group">
						<input type="text" class="form-control" ng-model="categoryStringFilter" placeholder="Filter catgories">
					</div>
					<div class="well well-sm" style="overflow: auto;">
						<ul class="list-unstyled">
							<li data-ng-repeat="cat in selection.categories | filter:categoryStringFilter" class="noselect"
								data-ng-class="{'category-not-visible':!selection.isCategoryVisible(cat)}">
								<div class="title">
									<span data-ng-class="{'pointer':true,'icon-radio-unchecked':selection.category!=cat ,'icon-radio-checked':selection.category==cat}"
										data-ng-click="selection.setCategory(cat)"></span> <span data-ng-click="selection.toggleExpandCollapseCategory(cat)"
										data-ng-class="{'pointer':true,'glyphicon glyphicon-triangle-right':selection.isCategoryCollapsed(cat) ,'glyphicon glyphicon-triangle-bottom':selection.isCategoryExpanded(cat)}"></span>
									<span data-ng-click="selection.toggleCategoryVisible(cat)"
										data-ng-class="{'pointer':true,'icon-eye-3':selection.isCategoryVisible(cat) ,'icon-eye-blocked':!selection.isCategoryVisible(cat)}"></span>
									{{cat.description}}&nbsp;({{cat._id}})
								</div>

								<ul class="list-unstyled" data-ng-show="selection.isCategoryExpanded(cat)">
									<li data-ng-repeat="tag in selection.getSelectedTagsForCategory(cat) | filter:categoryStringFilter" class="noselect dependencies">
										<div>
											<span data-ng-click="selection.toggleExpandCollapseSelectedTag(tag)" data-ng-show="selection.getSelectedDependenciesForTag(tag).length>0"
												data-ng-class="{'pointer':true,'glyphicon glyphicon-triangle-right':selection.isSelectedTagCollapsed(tag) ,'glyphicon glyphicon-triangle-bottom':selection.isSelectedTagExpanded(tag)}"></span>&nbsp;&nbsp;
											{{tag.description}}
										</div>
										<div class="dependency-tags" data-ng-repeat="dep in selection.getSelectedDependenciesForTag(tag)" data-ng-show="selection.isSelectedTagExpanded(tag)">
											<div data-ng-repeat="depTag in dep.tags">
												<small> <span data-ng-class="{'glyphicon glyphicon-tags':$first,'glyphicon glyphicon-none':!$first}"></span>&nbsp;&nbsp;
													{{depTag.description}}&nbsp;({{depTag.category}})&nbsp;{{$first}}
												</small>
											</div>
										</div>
									</li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
				<div class="panel-footer">
					<ul class="list-group">
						<li data-ng-repeat="cat in selection.categories" class="noselect list-group-item list-group-item-danger"
							ng-hide="selection.getSelectedTagsForCategory(cat).length"><span class="glyphicon glyphicon-exclamation-sign"></span>
							{{cat.description}}&nbsp;({{cat._id}})</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-xs-6 tags">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">{{selection.category.description}}</h3>
				</div>
				<div class="panel-body">
					<div class="form-group">
						<input type="text" class="form-control" ng-model="tagStringFilter" placeholder="Filter tags">
					</div>
					<div class="well well-sm" style="overflow: auto;">
						<ul class="list-unstyled">
							<li data-ng-repeat="tag in selection.tags | filter:tagStringFilter" class="noselect">
								<div data-ng-click="selection.toggleTagSelection(tag)">
									<span class="icon-checkbox-unchecked" ng-hide="selection.isTagSelected(tag)">&nbsp;</span><span class="icon-checkbox-checked"
										ng-show="selection.isTagSelected(tag)">&nbsp;</span>{{tag.description}}
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
