<div class="container">
	<div class="row">
		<div class="col-xs-12 iras">
			<page-header title="IRAS" subtitle="Chart"></page-header>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<div class="panel panel-default">
				<div class="panel-body">
					<form>
						<div class="form-group">
							<div class="btn-toolbar" role="toolbar" aria-label="Chart filter toolbar">
								<div class="btn-group btn-group" role="group" aria-label="Table Type">
									<button type="button" class="btn btn-default" aria-label="chartBuilder.BUILDERS[chartBuilder.TABLE_FULL].description"
										data-ng-model="chartBuilder.builder" uib-btn-radio="chartBuilder.BUILDERS[chartBuilder.TABLE_FULL]" data-ng-change="chartBuilderChanged()">
										<span class="mif-table"></span>&nbsp;<b>F</b>
									</button>

									<button type="button" class="btn btn-default" aria-label="chartBuilder.BUILDERS[chartBuilder.TABLE_DESCRIPTION].description"
										data-ng-model="chartBuilder.builder" uib-btn-radio="chartBuilder.BUILDERS[chartBuilder.TABLE_DESCRIPTION]" data-ng-change="chartBuilderChanged()">
										<span class="mif-table"></span>&nbsp;<b>D</b>
									</button>

									<button type="button" class="btn btn-default" aria-label="chartBuilder.BUILDERS[chartBuilder.TABLE_SUMMARY].description"
										data-ng-model="chartBuilder.builder" uib-btn-radio="chartBuilder.BUILDERS[chartBuilder.TABLE_SUMMARY]" data-ng-change="chartBuilderChanged()">
										<span class="mif-table"></span>&nbsp;<b>S</b>
									</button>
								</div>

								<div class="btn-group btn-group" role="group" aria-label="Chart Type">

									<button type="button" class="btn btn-default" aria-label="chartBuilder.BUILDERS[chartBuilder.COLUMN].description" data-ng-model="chartBuilder.builder"
										uib-btn-radio="chartBuilder.BUILDERS[chartBuilder.COLUMN]" data-ng-change="chartBuilderChanged">
										<span class="mif-chart-bars"></span>
									</button>

									<button type="button" class="btn btn-default" aria-label="chartBuilder.BUILDERS[chartBuilder.LINE].description" data-ng-model="chartBuilder.builder"
										uib-btn-radio="chartBuilder.BUILDERS[chartBuilder.LINE]" data-ng-change="chartBuilderChanged()">
										<span class="mif-chart-line"></span>
									</button>

									<button type="button" class="btn btn-default" aria-label="chartBuilder.BUILDERS[chartBuilder.AREA].description" data-ng-model="chartBuilder.builder"
										uib-btn-radio="chartBuilder.BUILDERS[chartBuilder.AREA]" data-ng-change="chartBuilderChanged()">
										<span class="icon-graph"></span>
									</button>

									<button type="button" class="btn btn-default" aria-label="chartBuilder.BUILDERS[chartBuilder.PIE].description" data-ng-model="chartBuilder.builder"
										uib-btn-radio="chartBuilder.BUILDERS[chartBuilder.PIE]" data-ng-change="chartBuilderChanged()">
										<span class="mif-chart-pie"></span>
									</button>
								</div>

								<div class="btn-group btn-group" role="group" aria-label="Chart Filter">
									<button type="button" class="btn btn-default" aria-label="Filter" data-ng-click="filterModeClicked()">
										<span class="mif-filter"></span>
									</button>
								</div>

							</div>

						</div>
						<fieldset>
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Search" data-ng-model="searchString" data-ng-change="searchStringChanged()">
							</div>
						</fieldset>
					</form>
					<div google-chart chart="chartObject" style="width: 100%;"></div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<div class="panel panel-default">
				<div class="panel-body">
					<small>
						<dl class="dl-horizontal filter-summary">
							<span data-ng-repeat="cat in selection.categories">
								<dt>
									<span data-ng-bind="cat.description + ' ('+cat.name+')'"></span>
								</dt>
								<dd>
									<div data-ng-repeat="tag in selection.getSelectedTagsForCategory(cat)">
										<span data-ng-bind="tag.description"></span>
										<div data-ng-repeat="dep in selection.getSelectedDependenciesForTag(tag)" style="padding-left: 10px;">
											<span data-ng-repeat="depTag in dep.tags"> <span ng-bind="depTag.description +' ('+ depTag.category +')'"> </span>
											</span>
										</div>
									</div>
								</dd>
							</span>
						</dl>
					</small>
				</div>
			</div>
		</div>
	</div>
</div>
