/*
.chart-filter .categories .active {
	color: red;
}
*/
.pointer {
	cursor: pointer;
}

.category-not-visible {
	color: graytext;
}

.chart-filter .error {
	color:red;
}

.chart-filter .ok {
	color:green;
}

.chart-filter .warn {
	color:orange;
}



.chart-filter .categories ul li {
	text-overflow: ellipsis;
	white-space: nowrap;
}

.chart-filter .categories ul li ul li {
	padding-left: 42px;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.glyphicon-none:before {
	content: "\2122";
	color: transparent !important;
}

/*
.chart-filter .categories  ul li ul li.dependencies {
	padding: 1px 2px 1px 10px;
	margin-bottom: 0px;
	border-left: 2px SOLID gray;
}

.chart-filter .categories  ul li ul li.dependencies div.dependency-tags
	{
	padding: 1px 2px 1px 5px;
	margin-bottom: 5px;
	border-left: 2px SOLID gray;
}
*/
.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.chart-filter .tags ul li {
	text-overflow: ellipsis;
	white-space: nowrap;
}