/**
* About Unit
*/
div.about-unit {
	
}

div.about-unit div blockquote {
	/*border-left-color: #61210B;*/
	border-left-color: #060;
}

div.about-unit h2 {
	font-family: 'Lato', sans-serif;
	font-style: bold;
	font-weight: 900;
	margin-top: 60px;
	margin-bottom: 40px;
	/*color: #61210B;*/
	color: #060;
	text-align: center;
}

div.about-unit h3 {
	font-family: 'Lato', sans-serif;
	font-style: bold;
	font-weight: 900;
	margin-top: 30px;
	margin-bottom: 20px;
	/*color: #61210B;*/
	color: #060;
	text-align: center;
}

div.about-unit p {
	font-family: 'Arimo', sans-serif;
	font-style: normal;
	text-align: justify;
	text-justify: inter-word;
	margin: 10px;
}